<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <nav th:replace="~{layout::menu}"></nav>
<h1>Cambiar Contraseña</h1>

<form th:action="@{/cambiar-password}" method="post">
    <label for="nuevaPassword">Nueva contraseña:</label>
    <input type="password" id="nuevaPassword" name="nuevaPassword" required>

    <label for="confirmarNuevaPassword">Confirmar nueva contraseña:</label>
    <input type="password" id="confirmarNuevaPassword" name="confirmarNuevaPassword" required>

    <button type="submit">Cambiar Contraseña</button>
</form>
</body>
</html>
